{% extends "network/layout.html" %}

{% block body %}

{% if errortext %}
<div class="alert alert-danger m-4" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    {{ errortext }}
    <hr>
    <p class="m-0 fst-italic">Head back to the <a href="/">homepage</a></p>
</div>
{% endif %}
<div class="p-2">

    TODO
    {% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
    {% endfor %}



    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% comment %} page before {% endcomment %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    First
                </a>
                <a href="?page={{ page_obj.previous_page_number }}">
                    &laquo;
                    <span aria-hidden="true">previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link"
                    href="?page={{ page_obj.previous_page_number}}">{{ page_obj.previous_page_number}}</a></li>
            {% endif %}

            {% comment %} current page {% endcomment %}
            <li class="page-item"><a class="page-link"
                    href="?page={{ page_obj.next_page_number - 1}}">{{ page_obj.next_page_number - 1}}</a></li>

            {% comment %} page after {% endcomment %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
                <li class="page-item">...</li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
            {% endif %}

        </ul>
    </nav>

</div>
{% endblock %}