{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% comment %} error message, using bootstrap alert class {% endcomment %}
{% if errortext %}
<div class="alert alert-danger m-4" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
        class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path
            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    {{ errortext }}
    <hr>
    <p class="m-0 fst-italic">Head back to the <a href="/">homepage</a></p>
</div>
{% endif %}
<div class="p-2">
    <a class="btn btn-outline-secondary m-2" href={% url "newpost" %}>New Post</a>
    {% if profile %}
    <div>Profile: {{ profile }}</div>
    {% endif %}
    {% if followers or followers == 0 %}
    <div>Followers: {{ followers }}</div>
    {% endif %}
    {% if following or following == 0 %}
    <div>Following: {{ following }}</div>
    {% endif %}
    {% if button %}
    <button class="btn btn-primary" id="follow"></button>
    {% endif %}

    {% for post in page_obj %}
    <div class="m-2 p-2 border border-2 border-info rounded-3">
        <div id="{{ post.id }}" class="post">
            <h1 class="h1 ps-2 pt-2 m-0">{{ post.title }}</h1>
            <p class="lead ps-2" style="font-size: 20px"> @{{ post.user }}</p>
            <p class="h1 align-middle"> <a style="text-decoration-line: none" href="#" id="heart{{ post.id }}" class="heart h2"
                    style="color: black">&hearts;</a>
                <span class="align-middle h5">Likes:</span> <span id="likes{{ post.id }}"
                    class="likes align-middle h5"></span></p>
        </div>
        <div>
            <h5>{{ post.text }}</h5>
        </div>
        <div>
            <h6>{{ post.time }}</h5>
        </div>


    </div>
    {% endfor %}

    {% comment %} Pagination {% endcomment %}
    <nav aria-label="Page navigation example">
        <ol class="pagination justify-content-center">
            {% comment %} page before {% endcomment %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    First
                </a>
            </li>
            <li>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link"
                    href="?page={{ page_obj.previous_page_number}}">{{ page_obj.previous_page_number}}</a></li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="?page=1" aria-label="Previous">
                    First
                </a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% comment %} current page {% endcomment %}
            <li class="page-item active"><span class="page-link" href="#">{{ page_obj.number}}<span
                        class="sr-only">(current)</span></span></li>
            {% comment %} page after {% endcomment %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
            {% endif %}

        </ol>
    </nav>

</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/post.js' %}"></script>
{% endblock %}