.follow {
    border: None !important;
}

.username {
    text-decoration-line: none;
    
}

.username:hover {
    text-decoration-line: none;
    font-weight: bold;
}

.post {
    background-color: aliceblue;
}